body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26vh;
}

.todo-container {
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.todo-header {
    background-color: #155263;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 24px;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    font-size: 18px;
}

.todo-item input {
    margin-right: 10px;
}

.add-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid #eee;
}

.add-todo input {
    flex: 0.90;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.add-todo button {
    background-color: #155263;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}