<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>To-Do List</title>
</head>

<body>

    <div class="todo-container">
        <div class="todo-header">
            To-Do List
        </div>
        <ul class="todo-list" id="todo-list">
        </ul>
        <div class="add-todo">
            <input type="text" id="new-todo" placeholder="Add a new task">
            <button>Add</button>
        </div>
    </div>

</body>

</html>