<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>To-Do List</title>
</head>

<body>

    <div class="todo-container">
        <div class="todo-header">
            To-Do List
        </div>
        <ul class="todo-list" id="todo-list">
        </ul>
        <div class="add-todo">
            <form action="/" method="post" id="todo-form">
                <label for="new-todo">Title</label>
                <input type="text" id="new-todo" name="new-todo" placeholder="Add a new task" required>

                <label for="new-desc">Description</label>
                <input type="text" id="new-desc" name="new-desc" placeholder="Add a description" required>

                <button type="submit">Add</button>
            </form>
        </div>
    </div>

    <div class="table-container">
        <h2>Your Todos</h2>

        <table>
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="todo-table">
                {% for todo in allTodo %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.desc }}</td>
                        <td>{{ todo.date_created }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>
